@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_variables.scss';

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

@layer components {
	.text-shadow-primary {
		text-shadow: #24f1a6 1px 1px 2px;
	}
	.underline-effect {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: '';
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: #fff;
		transition: width 0.4s ease 0s, left 0.4s ease 0s;
		width: 0;
	}
	.underline-effect-hover-after {
		@apply w-[100%] left-0;
		/* width: 100%;
		left: 0; */
	}

	.custom-underline-effect {
		@apply after:underline-effect hover:after:underline-effect-hover-after;
	}
	.custom-underline-effect-primary {
		@apply after:underline-effect after:bg-primary hover:after:underline-effect-hover-after
		 hover:after:bg-primary;
	}

	.about-me-point {
		@apply dark:text-white font-inter text-xl md:pb-2;
	}
}

.bio-selector {
	& input {
		color: #24f1a6;
		text-transform: capitalize;
	}
	&:not(:first-of-type, :last-of-type) {
		& label {
			color: transparent;
			text-transform: capitalize;
		}
	}
	&:first-of-type,
	&:last-of-type {
		& label {
			color: #24f1a6;
			text-transform: capitalize;
		}
	}
}

.bio-ul {
	list-style-type: none;
}

// .quick-actions-wrapper {
// 	z-index: 2;
// 	position: fixed;
// 	bottom: 20px;
// 	right: 20px;
// }

// .quick-actions-toggle {
// 	appearance: none;
// 	position: absolute;
// 	border-radius: 50%;
// 	top: 0;
// 	left: 0;
// 	margin: 0;
// 	width: 100%;
// 	height: 100%;
// 	cursor: pointer;
// 	background-color: transparent;
// 	border: none;
// 	outline: none;
// 	z-index: 2;
// 	transition: box-shadow 0.2s ease-in-out;
// 	box-shadow: 0 3px 5px 1px rgba(51, 51, 51, 0.3);
// }

// .quick-actions-toggle:hover {
// 	box-shadow: 0 3px 6px 2px rgba(51, 51, 51, 0.3);
// }

// .quick-actions-toggle:checked ~ .quick-actions-list {
// 	opacity: 1;
// 	visibility: visible;
// 	transform: translateY(0%);
// }

// .quick-actions-button {
// 	height: 56px;
// 	width: 56px;
// 	background-color: $primary;
// 	border-radius: 50%;
// 	color: #fff;
// 	z-index: 1;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	text-decoration: none;
// }

// .quick-actions-button i {
// 	font-size: 16px;
// 	transform: rotate(0deg);
// 	transition: all 0.4s;
// }

// .quick-actions-list {
// 	position: absolute;
// 	bottom: 70px;
// 	right: 5px;
// 	opacity: 0;
// 	visibility: hidden;
// 	transform: translateY(50%);
// 	transition: all 0.3s ease-in-out;
// }

// .quick-actions-list li {
// 	width: 100%;
// 	float: right;
// 	list-style: none;
// 	text-align: right;
// 	margin-bottom: 5px;
// }

// .quick-actions-list li a {
// 	padding: 8px 15px;
// 	display: inline-block;
// 	color: $primary;
// 	border-radius: 5px;
// 	text-decoration: none;
// 	overflow: hidden;
// 	white-space: nowrap;
// 	transition: all 0.4s;
// 	// border: solid 0.1px $primary;

// 	@apply bg-gray-800;
// }

// .quick-actions-list li a:hover {
// 	margin-right: 10px;
// }
