@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_variables.scss';

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}

@layer components {
	.text-shadow-primary {
		text-shadow: #24f1a6 1px 1px 2px;
	}
	.underline-effect {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: '';
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: #fff;
		transition: width 0.4s ease 0s, left 0.4s ease 0s;
		width: 0;
	}
	.underline-effect-hover-after {
		@apply w-[100%] left-0;
		/* width: 100%;
		left: 0; */
	}

	.custom-underline-effect {
		@apply after:underline-effect hover:after:underline-effect-hover-after;
	}
	.custom-underline-effect-primary {
		@apply after:underline-effect after:bg-primary hover:after:underline-effect-hover-after
		 hover:after:bg-primary;
	}

	.about-me-point {
		@apply dark:text-white font-inter text-xl md:pb-2;
	}
}

.bio-selector {
	& input {
		color: #24f1a6;
		text-transform: capitalize;
	}
	&:not(:first-of-type, :last-of-type) {
		& label {
			color: transparent;
			text-transform: capitalize;
		}
	}
	&:first-of-type,
	&:last-of-type {
		& label {
			color: #24f1a6;
			text-transform: capitalize;
		}
	}
}

.bio-ul {
	list-style-type: none;
}

.fab-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	user-select: none;
	position: absolute;
	bottom: 30px;
	right: 20px;
	&:hover {
		cursor: pointer;
	}
	&.active {
		height: 100%;
		.sub-button:nth-child(2) {
			transform: translateY(-80px);
		}
		.sub-button:nth-child(3) {
			transform: translateY(-140px);
		}
		.sub-button:nth-child(4) {
			transform: translateY(-200px);
		}
		.sub-button:nth-child(5) {
			transform: translateY(-260px);
		}
		.sub-button:nth-child(6) {
			transform: translateY(-320px);
		}
	}
	.fab {
		position: relative;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		z-index: 3;
		@apply bg-gray-600;
	}
	.sub-button {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
		// bottom: 5px;
		// right: 10px;
		// height: 50px;
		// width: 50px;
		// border-radius: 50%;
		transition: all 0.3s ease;
		z-index: 2;
		&:hover {
			cursor: pointer;
			background-color: $primary;
			.icon {
				color: white;
				font-size: 30px;
			}
			.btn-text {
				color: white;
			}
		}
		.icon {
			color: $primary;
			font-size: 26px;
		}
	}
}

.btn-text {
	position: absolute;
	right: -20px;
	top: -15px;
	transform: translateY(-50%);
	white-space: nowrap;
	color: $primary;
	padding: 0.4rem 0.6rem;
	@apply rounded-md bg-gray-600 text-primary;
}

.overlay {
	display: none;
}

.overlay.active {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background: rgba(0, 0, 0, 0.72);
	z-index: 1;
}
